body {
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}


.weight-300{
  font-family:'Open Sans', sans-serif;
  font-weight: 300
} 

.weight-400{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.weight-600{
  font-family: 'Open Sans', cursive;
  font-weight: 600;
}

.weight-2{
  font-family:'Oswald', sans-serif;
  font-weight: 200;
} 

.weight-4{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.weight-6{
  font-family: 'Oswald', cursive;
  font-weight: 600;
}

.weight-7{
  font-family: 'Oswald', cursive;
  font-weight: 700;
}

.pizza-img{
  height: 400px;
  
}


.navbar-brand{
  font-size: 3em;
}

nav{
  padding-top: 0%;
  padding-bottom: 0%;
}

.oscuro{
background-color:goldenrod ;
}

.claro{
  color: #dddddd;
}

.newsletter{ 
  background-color:#dc3545;
}

.negro{ 
  color:#000;
}

.blanco{ 
  color:#fff;
}

.interlineado{
  line-height: 35px;
}

.tarjeta{
    border-radius:0px 0px 5px 5px ;
    overflow: hidden;
    padding: 0;
    min-height: 380; 
   min-height: 100% !important; 
   background-color:white;
 
}

hr{
 width: 100%;
}

.raya{
width: 110px;
}

.raya2{
  width: 400px;
}
.margenes{
  margin-left: 10px;
  margin-right: 10px;
  align-content: center;
}

header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 /*background-position: left;*/
 /* padding-bottom: 10rem; */
}

.pt-5{
padding-top: 20rem!important;
}


.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}




.carousel-indicators {
    top: 120;
}

.lado {
    padding-left: 20px;
    padding-right: 20px;
}
/*
@media (max-width: 768px) {
  main{
      text-align: center;
  }
}
*/
.texto{
   text-align: center;
}

html{
  scroll-behavior: smooth;
}
